* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------------*/
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7vh 60vh 45vh 60vh;
  font-family: Consolas, monaco, monospace;
  background-color: var(--color-bg);
}

header {
  z-index: 3;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-1);
  color: var(--color-text);
}

a{
  text-decoration: none;
  color: var(--color-text);
}

h1 {
  width: 20%;
  height: 45%;
  margin-left: 5%;
  text-align: center;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  width: 65%;
  margin-left: 10%;
  margin-right: 5%;
  text-decoration: none;
  list-style-type: none;
}

li {
  text-decoration: none;
}

main {
  background: #0d215c;
  background: linear-gradient(
    90deg,
    rgba(13, 33, 92, 1) 67%,
    rgba(19, 48, 134, 1) 79%,
    rgba(26, 66, 185, 1) 91%
  );
  display: flex;
  justify-content: justify;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 20%;
}

#card {
  margin-left: 5%;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.47);
  width: 27%;
  height: 26vh;
  border-radius: 12%;
  padding: 1%;
}

#card h1 {
  text-align: justify;
  font-weight: 200;
  width: 100%;
  margin-top: 5%;
}
#card p {
  text-align: justify;
  font-weight: 150;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10%;
}
#Profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  border: 2px solid white;
  border-radius: 100%;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
#Profile img {
  width: 700px;
  height: 650px;
  border-radius: 100%;
}
#about {
  background-color: var(--color-2);
  color: var(--color-text);
  padding-top: 1%;
  display: flex;
  flex-direction: column;
}
#about div {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#about h1 {
  width: 100%;
  text-align: center;
  margin-left: 0%;
}
.uderline {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 155px;
  height: 4px;
  background-color: var(--color-text);
  margin-top: 0.5%;
  border-radius: 2px;
  opacity: 0.7;
}
#about p {
  width: 100%;
  padding: 0% 25% 0% 25%;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 2%;
}
#skills {
  padding-top: 1%;
  background-color: var(--color-1);
  color: var(--color-text);
  display: flex;
  align-items: center;
  flex-direction: column;
}
#skills div:first-child {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
#skills h1 {
  margin: 0%;
  height: 3.5vh;
  width: 100%;
}
#skills .uderline {
  width: 200px;
}
#skillIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  margin-top: 2%;
}
.section {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.espand {
  width: 60px;
  height: 0px;
  color: var(--color-text);
  background-color: var(--color-1);
  font-size: 0px;
}
.section:hover .espand {
  height: 100px;
  width: 100px;
  font-size: 12px;
  text-align:left;
  transition: all 0.3s ease;
}
/*--------------------------------------------------------------------*/
/*----------------------------btns-----------------------------*/
#btnTheme {
  opacity: 0;
  position: absolute;
  left: 20%;
  top: 34%;
}
#btnThemeContent {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 96%;
  border: 2px solid;
  color: var(--color-text);
  border-radius: 100%;
  opacity: 1;
  transition: all 0.5s ease;
}

#lightImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 19%;
  top: 20%;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#darkImg {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 20%;
  top: 20%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

/*--------------------------------------------------------------------*/
/*----------------------------themes-----------------------------*/
:root {
  --color-text: black;
  --color-bg: white;
  --color-1: #afbad9;
  --color-2: #cedaff;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.Dark {
  --color-text: white;
  --color-bg: white;
  --color-1: #4f5a7a;
  --color-2: #1a2a40;
  transition: background-color 0.5s ease, color 0.5s ease;
}
/*--------------------------------------------------------------------*/
